[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
# Packages are maintained in setup.py under install_requires
worf = {editable = true, path = "."}

[dev-packages]
autoflake = "*"
autopep8 = "*"
black = "==20.8b1"
build = "*"
coverage = "*"
factory-boy = "*"
flake8 = "*"
flake8-quotes = "*"
isort = "*"
pytest = "*"
pytest-cov = "*"
pytest-django = "*"
pytest-factoryboy = "*"
pytest-watch = "*"
pytest-xdist = {extras = ["psutil"], version = "*"}
twine = "*"

[requires]
python_version = "3.8"

[scripts]
install_linters = "pipenv install autoflake black flake8 isort --dev --skip-lock"
check = "./script/check"
lint = "./script/lint"
