[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
# Packages are maintained in setup.py under install_requires
worf = {editable = true, path = "."}

[dev-packages]
autoflake = "*"
autopep8 = "*"
black = "==22.3.0"
build = "*"
coverage = "*"
factory-boy = "*"
flake8 = "*"
flake8-bandit = "*"
flake8-bugbear = "*"
flake8-docstrings = "*"
flake8-pyproject = "*"
flake8-quotes = "*"
isort = "*"
pytest = "*"
pytest-cov = "*"
pytest-django = "*"
pytest-factoryboy = "==2.1.0"
pytest-kwparametrize = "*"
pytest-watch = "*"
pytest-xdist = {extras = ["psutil"], version = "*"}
twine = "*"

[scripts]
check = "./script/check"
lint = "./script/lint"
